backoff==1.10.0
cached-property==1.5.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
dateparser==0.7.6
humanize==2.5.0
idna==2.10
importlib-metadata==1.7.0; python_version < "3.8"
jinja2==2.11.2
markupsafe==1.1.1
maya==0.6.1
pendulum==2.1.2
pygogo==0.12.0
python-dateutil==2.8.1
pytz==2020.1
pytzdata==2020.1
pyyaml==5.3.1
regex==2020.7.14
requests==2.24.0
requests-toolbelt==0.9.1
simple-settings==0.19.1
six==1.15.0
snaptime==0.2.4
stringcase==1.2.0
trading-api-wrappers==0.16.10
tzlocal==2.1
urllib3==1.25.10
zipp==3.1.0; python_version < "3.8"
